<h1>Listing de tous les articles</h1>
<p>
    <%= link_to "Creer nouvel article", new_article_path %>
</p>
<table>
    <tr>
        <th>Titre</th>
        <th>Description</th>
    </tr>
    
    <% @articles.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to "editer", edit_article_path(article) %></td>
        <td><%= link_to "afficher", article_path(article) %></td>
        <td><%= link_to "supprimer", article_path(article), method: :delete %></td>
    </tr>
    <% end %>
    
</table>