<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1>Listing de tous les articles</h1>
        <p>
            <%= link_to "Creer nouvel article", new_article_path %>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            
            <% @articles.each do |article| %>
            <tr>
                <td><%= link_to article.title, article_path(article) %></td>
                <td><%= truncate(article.description, length: 60) %></td>
                <td><%= link_to "Editer", edit_article_path(article), class: "btn btn-xs btn-primary" %></td>
                <td><%= link_to "Supprimer", article_path(article), method: :delete, class: "btn btn-xs btn-danger" %></td>
            </tr>
            <% end %>
            
        </table>
        
    </div>
</div>
