<div class="row">
    <div class="col-xs-offset-2 col-xs-10">
        <h2><%= @article.title %></h2>
        
        <div class="well col-xs-6">
            <%= @article.description %>
            
            <% if @article.user %>
                <div class="article-actions">
                    <%= gravatar_for @article.user, size:50 %><br>
                    <small>Article creéé par <%= link_to @article.user.username, user_path(@article.user) %></small>
                </div>
            <% end %>
            <div class="article-actions">
                <%= link_to "Editer cet article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
                <%= link_to "Supprimer cet article", article_path(@article), method: :delete, class: "btn btn-xs btn-danger" %>
                <%= link_to "Retour a la liste", articles_path, class: "btn btn-xs btn-success" %>
            </div>
        </div>
    </div>
</div>

