<h1 align="center">Liste des utilisateurs</h1>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div align="center">
            <%= will_paginate @users %>
        </div>
        <ul class="list-group">
            <% @users.each do |user| %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                        <%= gravatar_for user, size:25 %>
                        <%= link_to user.username, user_path(user) %>
                    </h3>
                  </div>
                  <div class="panel-body">
                    <%= pluralize(user.articles.count, "article") if user.articles %>
                  </div>
                </div>
            <% end %>
        </ul>
        <div align="center">
            <%= will_paginate @users %>
        </div>
    </div>
</div>


